.qcLi-select {
  margin-left: 4px;
  cursor: pointer;
  font-style: italic;
}
.qcLi-collapse-btn {
  float: right;
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
  padding: 0 2px;
}
.qcLi-collapse-btn::after {
  content: "-";
}
.qcLi-collapsed .qcLi-collapse-btn::after {
  content: "+";
}
.qcLi-collapsed .collapsible {
  height: 0px;
  overflow: hidden;
}
